# Python Basics
## Guiding Principle of Python's Design

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## 1. Variable Assignment and Basic Data Types
Variable naming rules: 
1. Variable names are case sensitive
2. Variable must start with a character or underscore
3. Variable names can only contain alphanumeric characters and underscores
4. Variable name cannot be a python keyword

- ### Integers

In [ ]:
# variable_name = value
num_one = 1
num_two = 3
num_three = 2
_num_ex = 50
num4 = -4
print(num_one, num_two, num_three, _num_ex, num4)

1 3 2 50 -4

- ### Strings

In [ ]:
# strings can be decalred in two ways "this is a string", 'single comma'
string_one = "this is my first string!"
string_two = '12345'
string3 = "!@#$%^&*()"
print(string_one, string_two, string3)

this is my first string! 12345 !@#$%^&*()

- ### Float

In [ ]:
# numbers with decimals
float_num = 1.34567
float_2 = 4.2323
float_3 = 1.000
print(float_num, float_2, float_3)

1.34567 4.2323 1.0

- ### Booleans

In [ ]:
# True, False
bool_1 = True
bool_2 = False
print("this is a normal print statement" + str(bool_1))
print(f"value of bool_1 is {bool_1}")

this is a normal print statementTrue
value of bool_1 is True

- ### Multiline Assignment

In [ ]:
var1, var2, var3, var4 = 1, "String", 3.14, False # both sides have equal variables and values
print(var1, var2, var3, var4)

1 String 3.14 False

## 2. Comments

In [ ]:
# this is a comment
string_ex = "comment"
''' this is a
multiline
comment
for demo '''

' this is a\nmultiline\ncomment\nfor demo '

## 3. Python `type()` function

In [ ]:
print(type(var1), type(var2), type(var3), type(var4))
var5 = 2
var6 = "2"
type(var5)

<class 'int'> <class 'str'> <class 'float'> <class 'bool'>

## 4. Type Casting

In [ ]:
# convert anything to a string
# string to int, float, bool if they have only that data type
str(var1), str(var3), str(var4)
string_wtih_num = "3"
int_with_num = int(string_wtih_num)

In [ ]:
# declare a float and covert it to a string
# declare a string and covert it to a float
# show both conversions by printing the type()

## 5. Strings

- ### Multiline Strings

In [ ]:
multiline_string = '''this is an example
of a multi line
string. 
it is many lines!'''
print(multiline_string)

this is an example
of a multi line
string.
it is many lines!

- ### String Indexing

In [ ]:
# index starts at 0
# P Y T H O N
# 0 1 2 3 4 5
# negative indexing
# P  Y  T  H  O  N
# -6 -5 -4 -3 -2 -1
indexed_string = "python"
indexed_string[2]
indexed_string[-4]
print(indexed_string[-1], indexed_string[-2])

n o

In [ ]:
# string slicing [start_index:end_index] => start_index is inclusive, end_index is exclusive
print(indexed_string[2:5])
# print(multiline_string)
# print(multiline_string[3:14])
# print(multiline_string[14:-1])
# print(multiline_string[-5:-1])
# print(multiline_string[:-1])
print(multiline_string[5:])

tho
is an example
of a multi line
string.
it is many lines!

- ### String functions `len(), lower(), strip(), replace()`

In [ ]:
len_of_multline = len(multiline_string)
print(len_of_multline)
mixed_case = "mIXEDd CaSE sTRiNG"
lower_case = mixed_case.lower()
print(lower_case)
# strip removes spaces from the beginning and ending
spaced_string = "   string     "
print(spaced_string)
stripped_string = spaced_string.strip()
print(stripped_string)
# replace function - replaces any substring from a string
corrected_string = lower_case.replace('d', '')
print(corrected_string)

61
mixedd case string
   string
string
mixe case string

- ### String Slicing

In [ ]:
multiline_string[3]

's'

- ### String Concatenation

In [ ]:
string_a = "hello"
string_b = " world"
string_c = string_a + string_b
print(string_c)

hello world

## 6. Comparison , Identity, Membership Operators
`>=, ==, =<, in, not in, is, is not`

In [ ]:
# comparison operators
num_one = 1
num_two = 3
num_three = 2.5
_num_ex = 50
num4 = 50

# print(num_one > num_two)
# print(num_one < num_two)
# print(_num_ex == num4)
# print(num_three >= num_two)

# strings
string_a = "string"
string_b = "STRING"
print(string_a == string_b)
check_strings = string_a == string_b.lower()
print(check_strings)

False
True

In [ ]:
# membership operator
print('s' in string_a)
print('a' not in string_b)

True
True

In [ ]:
# identity operator is and is not
original_string = "example"
copy_string = original_string
print(original_string == copy_string)
print(original_string is copy_string)
print(num_one is num_two)

True
True
False

## 7. Arithmetic and Assignment Operators

In [ ]:
# + - / 
# reminder % 
# multiply * 
# exponent **
print(2+3)
print(3-5)
print("divide", 6/2)
print("multiply", 3*5)
print("reminder/modulo", 6%3)
print("exponent", 5**3) # 5^3

5
-2
divide 3.0
multiply 15
reminder/modulo 0
exponent 125

In [ ]:
# string operations
print("once" + " again")
print("once"*3)

once again
onceonceonce

In [ ]:
num1 = 5
num1 += 1
print(num1)
num1 -= 2
print(num1)
num1 *= 3
print(num1)
num1 /= 3
print(num1)

6
4
12
4.0

In [ ]:
dummy = "python"
print(dummy)
dummy += " learning "
print(dummy)
dummy *= 3
print(dummy)

python
python learning
python learning python learning python learning

## 8. Lists
- ### Assignment

In [ ]:
# LIST is a collection of heterogenous data - so it can hold any type of data
# lists are []
first_list = [1, 2, 3, 4 ,5]
print(first_list)
second_list = ["hello", 'world']
print(second_list)
third_list = [1,2,3,3, 1.1, 4.5, 0, False, True, "python is easy"]
print(third_list)

# changing the value of lists
print(first_list[3])
first_list[3] = 16
print(first_list)

[1, 2, 3, 4, 5]
['hello', 'world']
[1, 2, 3, 3, 1.1, 4.5, 0, False, True, 'python is easy']
4
[1, 2, 3, 16, 5]

- ### List Index and Slicing

In [ ]:
print(third_list[-1])
print(third_list[-2])
print(third_list[-3:])

python is easy
True
[False, True, 'python is easy']

- ### List functions `insert(), append(), extend(). remove(), sort()`

In [ ]:
second_list = ["hello", 'world']
print(second_list)
second_list.insert(1, "new")
print(second_list)

second_list.append(3)
print(second_list)
second_list.extend([True, False]) # extend takes an iterable and adds its elements to the original list
print(second_list)
second_list.append([3.14, 4.51]) # append adds the element itself to the list
print(second_list)
print(second_list[-1])
print(second_list[-1][0])
second_list[3] *= 4 # second_list[3] = second_list[3] * 4
print(second_list)

['hello', 'world']
['hello', 'new', 'world']
['hello', 'new', 'world', 3]
['hello', 'new', 'world', 3, True, False]
['hello', 'new', 'world', 3, True, False, [3.14, 4.51]]
[3.14, 4.51]
3.14
['hello', 'new', 'world', 12, True, False, [3.14, 4.51]]

- ### Copying a list with `copy()`

In [ ]:
third_list = [1,2,3,3, 1.1, 4.5, 0, False, True, "python is easy"]
fourth_list = third_list # it is passing the reference, and not the copy of the value
print(fourth_list)
fourth_list.append("new entry")
print('fourth list is', fourth_list)
print('third list is', third_list)
print(fourth_list is third_list)
copied_list = third_list.copy() # copying values alone, not the reference
print(copied_list is third_list)
print(copied_list)
copied_list.remove('new entry')
print(copied_list)
print(third_list)
print(len(third_list))

[1, 2, 3, 3, 1.1, 4.5, 0, False, True, 'python is easy']
fourth list is [1, 2, 3, 3, 1.1, 4.5, 0, False, True, 'python is easy', 'new entry']
third list is [1, 2, 3, 3, 1.1, 4.5, 0, False, True, 'python is easy', 'new entry']
True
False
[1, 2, 3, 3, 1.1, 4.5, 0, False, True, 'python is easy', 'new entry']
[1, 2, 3, 3, 1.1, 4.5, 0, False, True, 'python is easy']
[1, 2, 3, 3, 1.1, 4.5, 0, False, True, 'python is easy', 'new entry']
11

## 9. Tuples
- ### Assignment and Unpacking

In [ ]:
# like lists but they are immutable, ie, they cant be changed
# tuples are represented by ()
ex_tuple = (1, 2, 3)
print(ex_tuple)
new_tuple = ex_tuple
print(new_tuple is ex_tuple)

(1, 2, 3)
True

In [ ]:
a, b, c = ex_tuple
print(a, b, c)
single_value = (2,)
print(single_value)
len(new_tuple)

1 2 3
(2,)

3

## 10. Control Flow
- ### IF

In [ ]:
if 3<4:
  print("correct")

num1 = 2
num3 = 4
new_list = [num1, num3]
if num4 % num1 == 0:
  print("equal")
  print(num1 + 300)

print(num3-500)

num_list = []
print(len(num_list))
if num_list: # if list len is greated than 0 then true
  print("the len of list is non zero")

emptyString = ""
nonempty = "Something"

if emptyString:
  print("this should not happen")

if nonempty:
  print("This should happen")

# for numbers it is false if number == 0, else it is true
num0 = 0
num1 = 50
if num0:
  print("this should not happen")

if num1:
  print("This should happen")

if "thing" in nonempty:
  print("statement")

if "some" not in nonempty:
  print("not in")

if 4 in new_list and 6 in new_list:
  print("4 exists")

if 30 not in new_list:
  print(new_list)

correct
equal
302
-496
0
This should happen
This should happen
statement
not in
[2, 4]

- ### ELSE

In [ ]:
num0, num1 = -40, 50
if num0 > num1:
  print(num1)
  num1 = 999
  print(num1)
else:
  print(num0)
  num0 *= 50
  print(num0)

-40
-2000

- ### ELIF

In [ ]:
num0, num1 = 40, 50
if num0 > num1:
  print(num1)
  num1 = 999
  print(num1)
elif num0 == num1:
  print("they are equal!")
else:
  print("less than")

less than

- ### Shorthand If Else

In [ ]:
num1, num2 = 200, 30
greatest_num = num1 if num1 > num2 else num2
print(greatest_num)

200

## 11. Loops
- ### FOR loop

In [ ]:
# iterator - generators
# range(n) - then it iterates over 0 to n-1, it is exclusive of n
# list(range(5))

for i in range(5):
  print(i)

# strings can be genrators
iterString = "python"
for letter in iterString:
  print(letter)

iterList = ['python','java','ruby','pascal']
newList = []
for lang in iterList:
  formated_string = lang.replace('a','i')
  newList.append(formated_string)

print(newList)
print(iterList)

for i in range(5):
  for j in range(5):
    print(i , j)

0
1
2
3
4
p
y
t
h
o
n
['python', 'jivi', 'ruby', 'piscil']
['python', 'java', 'ruby', 'pascal']
0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4

- ### WHILE loop

In [ ]:
num = 0
while (num < 5) :
  print(num)
  num += 1

print("outside the loop" , num)

0
1
2
3
4
outside the loop 5

In [ ]:
# break statements "break"
iterList = ['python','java','ruby','pascal']
newList = []
for lang in iterList:
  formated_string = lang.replace('p','i')
  if lang == 'ruby':
    print("reached ruby")
    break
  newList.append(formated_string)

print(newList)
print(iterList)

# continue
iterList = ['python','java','ruby','pascal']
newList = []
for lang in iterList:
  formated_string = lang.replace('p','i')
  if lang == 'ruby':
    print("reached ruby")
    continue
  newList.append(formated_string)

print(newList)
print(iterList)

reached ruby
['iython', 'java']
['python', 'java', 'ruby', 'pascal']
reached ruby
['iython', 'java', 'iascal']
['python', 'java', 'ruby', 'pascal']

## 12. Dictionaries
- ### Assignment

In [ ]:
# dictonaries are data structure that stores data as a key value pair
# dictonary keys to be imutable
# values can be any python data type including basic types and data structures
# dictionaries are used with { }
# key : value

first_dict = {"language" : "Python" , "ver" : 3.9 , "pros":["fast","easy","modules"],"cons":{'slow',}}
print(first_dict)

# dictionary are not indexed first_dict[0] <- is not valid

{'language': 'Python', 'ver': 3.9, 'pros': ['fast', 'easy', 'modules'], 'cons': {'slow'}}

- ### Accessing Items

In [ ]:
print(first_dict['language'])
print(first_dict['ver'])
print(first_dict['pros'][1])

Python
3.9
easy

- ### Update and add Values with `update()`

In [ ]:
first_dict.update({'language':['java','python']})
print(first_dict)

first_dict.update({'language':['java',{'python':{'ver':'3.11','scripting':'py'}}]})
print(first_dict)

first_dict.update({3:'three'})
print(first_dict)

first_dict['language'] = ['java','python']
print("before",first_dict)


first_dict['language'][1] = {first_dict['language'][1]:{'ver':'3.11','scripting':'py'}}
print("after",first_dict)

first_dict['new_key'] = 'new value'
print(first_dict)

{'language': ['java', 'python'], 'ver': 3.9, 'pros': ['fast', 'easy', 'modules'], 'cons': {'slow'}, 3: 'three', 'new_key': 'new value'}
{'language': ['java', {'python': {'ver': '3.11', 'scripting': 'py'}}], 'ver': 3.9, 'pros': ['fast', 'easy', 'modules'], 'cons': {'slow'}, 3: 'three', 'new_key': 'new value'}
{'language': ['java', {'python': {'ver': '3.11', 'scripting': 'py'}}], 'ver': 3.9, 'pros': ['fast', 'easy', 'modules'], 'cons': {'slow'}, 3: 'three', 'new_key': 'new value'}
before {'language': ['java', 'python'], 'ver': 3.9, 'pros': ['fast', 'easy', 'modules'], 'cons': {'slow'}, 3: 'three', 'new_key': 'new value'}
after {'language': ['java', {'python': {'ver': '3.11', 'scripting': 'py'}}], 'ver': 3.9, 'pros': ['fast', 'easy', 'modules'], 'cons': {'slow'}, 3: 'three', 'new_key': 'new value'}
{'language': ['java', {'python': {'ver': '3.11', 'scripting': 'py'}}], 'ver': 3.9, 'pros': ['fast', 'easy', 'modules'], 'cons': {'slow'}, 3: 'three', 'new_key': 'new value'}

- ### `keys()` and `values()`

In [ ]:
print(first_dict.keys())
for key in first_dict.keys():
  print(key , "  :   " , first_dict[key])

print(first_dict.values)

dict_keys(['language', 'ver', 'pros', 'cons', 3, 'new_key'])
language   :    javascript
ver   :    3.9
pros   :    ['fast', 'easy', 'modules']
cons   :    {'slow'}
3   :    three
new_key   :    new value
<built-in method values of dict object at 0x7fad4270ad80>

## 13. Functions
- ### Defining a function

In [ ]:
# function -> code modular
# def <function name>:
# function_body

def print_hello_world():
  print("Hello World")


print_hello_world()

def list_print():
  func_list = list(range(5))
  print(func_list)

list_print()

Hello World
[0, 1, 2, 3, 4]

- ### Paramters & Arguments

In [ ]:
# def func_name(paramenter_name) :
def replace_vowel(word):
  print(word.replace('a','@'))

replace_vowel("java")
replace_word = "pascal"
replace_vowel(replace_word)

def exponent_num(num1 , num2):
  print(num1 ** num2)

exponent_num(2, 3)

j@v@
p@sc@l
8

- ### Default Parameters

In [ ]:
# function_name(param1 = <value>)

def check_value_passed(value=None): # None is python null value 
  if value:
    print(value)
  else:
    print("No value passed")

  
check_value_passed("Python")
check_value_passed()


def check_value_passed(value1=None, value2="Empty"): # None is python null value 
  if value1:
    print(value1)
  else:
    print("No value passed")

  
check_value_passed("Python")
check_value_passed()

Python
No value passed
Python
No value passed

- ### `return`

In [ ]:
# returns a data from the function can be any object 
# once a function encounters return ,  the function steps executing

def returningFunction(passed_list) :
  first_value = passed_list[0]
  return first_value

value1 = returningFunction([232,2232,2212,11])
print(value1)

232

- ### Scope

In [ ]:
# local scope and global

global_variable = 123

def dummy_function() :
  global_varaible = "new string" # <- scope is local and changes are only to with the scope of the function
  print(global_varaible)


print(global_variable)
dummy_function()
print(global_variable)

123
new string
123